{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Lista opiekunów urządzeń</h1>
    <div class="row" style="margin-bottom: 20px">
        {% if perms.Devices.add_caretaker %}
                <a href="{% url 'caretaker-create' %}"><button class="btn btn-outline-success btn-lg">Dodaj nowego opiekuna</button></a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl">
            <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Szpital</th>
                <th>Szczegóły</th>
            </tr>
            {% for caretaker in caretakers %}
                <tr>
                    <td>{{ caretaker.firstName }}</td>
                    <td>{{ caretaker.lastName }}</td>
                    <td><a href="{% url 'hospital-detail' caretaker.hospital_id %}">{{ caretaker.hospital }}</a></td>
                    <td>
                        <a href="{% url 'caretaker-detail' caretaker.id %}">
                            <button class="btn btn-outline-info">Szczegóły</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}