{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Urządzenie: {{ device.manufacturer }} {{ device.modelName }}</h1>
    <div class="row" style="margin-bottom: 20px">
         {% if perms.Devices.change_device %}
                <a href="{% url 'device-update' device.pk %}"><button class="btn btn-outline-success btn-lg">Edytuj urządzenie</button></a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl">
            <ul>
                <li>Producent: <a href="{% url 'manufacturer-detail' device.manufacturer.id %}">{{ device.manufacturer }}</a></li>
                <li>Model: {{ device.modelName }}</li>
                <li>Numer seryjny: {{ device.sn }}</li>
                <li>Typ:
                    <a href="{% url 'type-detail' device.deviceType.id %}">
                        {{ device.deviceType }}
                    </a>
                </li>
                <li>Szpital:
                    <a href="{% url 'hospital-detail' device.hospital.id %}">
                        {{ device.hospital }}
                    </a>
                </li>
                <li>Opiekun:
                    {% if device.caretaker.id %}
                    <a href="{% url 'caretaker-detail' device.caretaker.id %}">
                        {{ device.caretaker.firstName }} {{ device.caretaker.lastName }}Szpital
                    </a>
                    {% else %}
                        Brak wybranego opiekuna
                    {% endif %}
                </li>
                <li>Zainstalowany: {{ device.installationDate }}</li>
                <li>Gwarancja do: {{ device.guaranteeDate }}</li>
                <li>Ostatni przegląd: {{ device.lastMaintenance }}</li>
                <li>Następny przegląd: {{ device.nextMaintenance }}</li>
            </ul>
            Ostatnie zlecenia:
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Data rejestracji</th>
                        <th>Rodaj zlecenia</th>
                        <th>Raport</th>
                    </tr>
                    {% if jobs %}
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.registeredDate }}</td>
                            <td><a href="{% url 'jobtype-detail' job.jobType_id %}">{{ job.jobType }}</a></td>
                            <td><a href="{% url 'job-detail' job.id %}"><button class="btn btn-info">Szczegóły</button></a></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                        <td>Brak ostatnich zleceń</td>
                        <td>Brak ostatnich zleceń</td>
                        <td>Brak ostatnich zleceń</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}