{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
        <h1>Urządzenia typu: {{ deviceType }}</h1>
        <div class="row">
                <a href="{% url 'type-list' %}">
                    <button class="btn btn-outline-primary btn-lg">Powrót do typów</button>
                </a>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Producent</th>
                        <th>Model</th>
                        <th>Szpital</th>
                    </tr>
                    {% for device in devices %}
                        <tr>
                            <td><a href="{% url 'manufacturer-detail' device.manufacturer_id %}"><button class="btn btn-outline-info">{{ device.manufacturer }}</button></a></td>
                            <td><a href="{% url 'device-detail' device.id %}"><button class="btn btn-outline-info">{{ device.modelName }}</button></a></td>
                            <td><a href="{% url 'hospital-detail' device.hospital_id%}">{{ device.hospital.name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}