{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1 style="margin-bottom: 20px">Fomularz szpitala</h1>
    <div class="row">
        <a href="{% url 'hospital-list' %}"><button class="btn btn-outline-primary btn-lg">Powrót do szpitali</button></a>
    </div>
    <div class="row" style="margin-top: 20px">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-outline-success btn-lg" type="submit" value="Zapisz">
        </form>
    </div>
    </div>
{% endblock %}