{% extends 'Devices/base.html' %}

{% block content %}
    <h2>Hospital: {{ hospital.name }}</h2>
    <ul>
        <li>Name: {{ hospital.name }}</li>
        <li>City: {{ hospital.city }}</li>
        <li>Address: {{ hospital.address }}</li>
        <li>Phone: {{ hospital.phone }}</li>
        <li>E-mail: {{ hospital.email }}</li>
        <ol>
            Devices:
            {% for device in hospital.device_set.all %}
                <li><a href="{% url 'device-detail' device.id %}">{{ device.manufacturer }} {{ device.modelName }}: {{ device.deviceType }}</a></li>
            {% endfor %}
        </ol>
    </ul>
{% endblock %}