{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h2>Szpitale</h2>
    <div class="row">
        <div class="col-xl">
            <ol>
                {% for hospital in hospitals %}
                    <li><a href="{% url 'hospital-detail' hospital.id %}">{{ hospital }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-xl">
            {% if perms.Devices.add_hospital %}
                <a href="{% url 'hospital-create' %}"><button class="btn btn-outline-success">Dodaj nowy szpital</button></a>
            {% endif %}
        </div>
    </div>
    </div>

{% endblock %}