{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Szpitale</h1>
    <div class="row" style="margin-bottom: 20px">
        {% if perms.Devices.add_hospital %}
                <a href="{% url 'hospital-create' %}"><button class="btn btn-outline-success btn-lg">Dodaj nowy szpital</button></a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Miasto</th>
                    <th>Nazwa</th>
                    <th>Telefon</th>
                    <th>Szczegóły</th>
                </tr>
                {% for hospital in hospitals %}
                <tr>
                    <td>{{ hospital.city }}</td>
                    <td>{{ hospital.name }}</td>
                    <td>{{ hospital.phone }}</td>
                    <td><a href="{% url 'hospital-detail' hospital.id %}"><button class="btn btn-outline-info">Szczegóły</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}