{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Lista producentów</h1>
    <div class="col">
        {% for manufacturer in manufacturers %}
            <div class="row">
                <a href="{% url 'manufacturer-detail' manufacturer.id %}">
                    <button class="btn btn-outline-info btn-lg">{{ manufacturer }}</button>
                </a>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}