{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Urządzenia producenta: {{ manufacturer }}</h1>
    <table class="table table-bordered">
    <tbody>
        <tr>
            <th>Producent</th>
            <th>Model</th>
            <th>Typ</th>
            <th>Szpital</th>
        </tr>
        {% for device in devices %}
            <tr>
                <td>{{ device.manufacturer }}</td>
                <td>{{ device.modelName }}</td>
                <td><a href="{% url 'type-detail' device.deviceType_id %}"><button class="btn btn-outline-info">{{ device.deviceType }}</button></a></td>
                <td><a href="{% url 'hospital-detail' device.hospital_id%}">{{ device.hospital.name }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}