{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% load my_filters %}
{% block content %}
    <div class="jumbotron">
        <h1>Szczegóły wizyty nr {{ event.pk }}</h1>
        <div class="row">
            <a href="{% url 'job-list' %}">
                <button class="btn btn-outline-primary btn-lg">Powrót do zleceń</button>
            </a>
        </div>
        <div class="row">
        <table class="table table-bordered">
        <tr>
            <th>Zlecenie</th><td><a href="{% url 'job-detail' event.job.id %}">{{ event.job }}</a></td>
        </tr>
        <tr>
            <th>Inżynier</th><td>{{ event.engineer.first_name }} {{ event.engineer.last_name }}</td>
        </tr>
        <tr>
            <th>Początek</th><td>{{ event.startDateTime }}</td>
        </tr>
        <tr>
            <th>Koniec</th><td>{{ event.endDateTime }}</td>
        </tr>
        <tr>
            <th>Dodane przez</th><td>{{ event.job.addedBy.first_name }} {{ event.job.addedBy.last_name }}</td>
        </tr>
        <tr>
            <th>Ukończone</th><td>{{ event.job.isCompleted|taknie }}</td>
        </tr>
        {% if event.job.isCompleted %}
        <tr>
            <th>Data raportu</th><td>{{ event.job.report.finishedDate }}</td>
        </tr>
        <tr>
            <th>Raport</th>
            <td><a href="{% url 'report-detail' event.pk %}"><button class="btn btn-outline-info">Szczegóły</button></a></td>
        </tr>
        {% endif %}
        </table>
        {% if not event.job.isCompleted %}
            <p><a href="{% url 'report-create-id' event.job.id %}"><button class="btn btn-outline-success btn-lg">Dodaj raport</button></a></p>
        {% endif %}
        </div>

    </div>
{% endblock %}