{% extends 'ServiceJobs/base.html' %}{% extends 'twitter/base.html' %}
{% block content %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log in Again</a>
        </small>
    </div>
{% endblock content %}

{% block content %}
    <h2>{{ event }}</h2>
    <ul>
        <li>Job: <a href="{% url 'job-detail' event.job.id %}">{{ event.job }}</a></li>
        <li>Engineer: {{ event.engineer }}</li>
        <li>Start: {{ event.startDateTime }}</li>
        <li>End: {{ event.endDateTime }}</li>
        <li>Added by: {{ event.job.addedBy }}</li>
        <li>Completed: {{ event.job.isCompleted }}</li>
        {% if event.job.isCompleted %}
            <li>Completion date: <a href="{% url 'report-detail' job.id %}">{{ job.report.finishedDate }}</a></li>
        {% endif %}
    </ul>
    {% if not job.isCompleted %}
        <p><a href="{% url 'report-create-id' event.job.id %}"><button class="btn btn-outline-primary">Dodaj raport</button></a></p>
    {% endif %}
{% endblock %}