{% extends 'ServiceJobs/base.html' %}

{% block content %}
    <h2>Wszystkie prace</h2>
    <h3>Nieukończone</h3>
    <ol>
        {% for event in events %}
            {% if not event.job.isCompleted %}
                <li><a href="{% url 'event-detail' event.id %}">{{ event }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
    <h3>Ukończone</h3>
    <ol>
        {% for event in events %}
            {% if event.job.isCompleted %}
                <li><a href="{% url 'event-detail' event.id %}">{{ event }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}