{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Lista zleceń</h1>
    <div class="row" style="margin-bottom: 20px">
        {% if perms.ServiceJobs.add_job %}
                <a href="{% url 'job-create' %}"><button class="btn btn-outline-success btn-lg">Zarejestruj nowe zlecenie</button></a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl">
            <h3>Otwarte zlecenia</h3>
            <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Data rejestracji</th>
                <th>Rodzaj zlecenia</th>
                <th>Miasto</th>
                <th>Nazwa szpitala</th>
                <th>Aparat</th>
                <th>Szczegóły zlecenia</th>
            </tr>
                {% for job in jobs %}
                    {% if not job.isCompleted %}
                    <tr>
                        <td>{{ job.registeredDate }}</td>
                        <td>{{ job.jobType }}</td>
                        <td>{{ job.device.hospital.city }}</td>
                        <td><a href="{% url 'hospital-detail' job.device.hospital_id %}">{{ job.device.hospital.name }}</a></td>
                        <td>
                            <a href="{% url 'device-detail' job.device_id %}">
                                <button class="btn  btn-outline-info">
                                    {{ job.device.manufacturer }} {{ job.device.modelName }}
                                </button>
                            </a>
                        </td>
                        <td>
                            {% if not job.event%}
                                <a href="{% url 'job-detail' job.id %}">
                                    <button class="btn btn-danger">Nieumówione</button>
                                </a>
                            {% else %}
                                <a href="{% url 'job-detail' job.id %}">
                                    <button class="btn btn-info">Umówione</button>
                                </a>

                            {% endif %}

                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <h3>Zamknięte zlecenia</h3>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Data rejestracji</th>
                <th>Rodzaj zlecenia</th>
                <th>Miasto</th>
                <th>Nazwa szpitala</th>
                <th>Aparat</th>
                <th>Szczegóły</th>
            </tr>
                {% for job in jobs %}
                    {% if job.isCompleted %}
                    <tr>
                        <td>{{ job.registeredDate }}</td>
                        <td>{{ job.jobType }}</td>
                        <td>{{ job.device.hospital.city }}</td>
                        <td><a href="{% url 'hospital-detail' job.device.hospital_id %}">{{ job.device.hospital.name }}</a></td>
                        <td>
                            <a href="{% url 'device-detail' job.device_id %}">
                                <button class="btn  btn-outline-info">
                                    {{ job.device.manufacturer }} {{ job.device.modelName }}
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'job-detail' job.id %}">
                                <button class="btn btn-success">Szczegóły</button>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}