{% extends 'ServiceJobs/base.html' %}

{% block content %}
    <h2>Lista zleceń</h2>
    <h3>Otwarte zlecenia</h3>
    <ol>
        {% for job in jobs %}
            {% if not job.isCompleted %}
                <li><a href="{% url 'job-detail' job.id %}">{{ job }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
    <h3>Zamknięte zlecenia</h3>
    <ol>
        {% for job in jobs %}
            {% if job.isCompleted %}
                <li><a href="{% url 'job-detail' job.id %}">{{ job }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}