{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="jumbotron">
    <h1>Zlecenia typu {{ jobtype }}</h1>
    <div class="row">
        <a href="{% url 'jobtype-list' %}">
            <button class="btn btn-outline-primary btn-lg">Powrót do typów</button>
        </a>
    </div>
    <div class="row" style="margin-top: 20px">
    <table>
        {% for job in jobs %}
            <tr><td><a href="{% url 'job-detail' job.id %}"><button class="btn btn-outline-info">
                {{ job.device.hospital }} {{ job.device.manufacturer }} {{ job.device.modelName }}
            </button></a></td></tr>
        {% endfor %}
    </table>
    </div>
    </div>
{% endblock %}