{% extends 'ServiceJobs/base.html' %}
{% load bootstrap4 %}
{% block content %}

    <h1>Terminarz</h1>
    <div class="row">
        <div id='calendar' style="float: left; margin-outside: 10px" class="col-9">

   <script>

       $(document).ready(function() {

           $('#calendar').fullCalendar({
                   header: {
                   left: 'prev,next today',
                   center: 'title',
                   right: 'month,agendaWeek,agendaDay,listMonth'
               },
               locale: 'pl',
               //defaultDate: '2017-05-12',
               buttonIcons: true, // show the prev/next text
               weekNumbers: true,
               navLinks: true, // can click day/week names to navigate views
               editable: true,
               eventLimit: true,

               // defaultDate: '2016-07-19',
               // editable: true,
               // eventLimit: true, // allow "more" link when too many events
               events: [

                       {% for event in openEvents %}
                           {
                               title: "{{ event.job.jobType }} {{ event.job.device }}",
                               start: '{{ event.startDateTime|date:"Y-m-d H:i" }}',
                               end: "{{ event.endDateTime|date:"Y-m-d H:i" }}",
                               url: '{% url 'event-detail' event.job_id %}',
                               color: {% if event.job.jobType_id == 1 %} '#e34e42'
                                        {% elif event.job.jobType_id == 2 %} '#f09b2c'
                                        {% elif event.job.jobType_id == 3 %} '#2940b8'
                                        {% elif event.job.jobType_id == 4 %} '#49914d'
                                        {% endif %}
                           },
                       {% endfor %}
                       {% for event in closedEvents %}
                           {
                               title: "{{ event.job.jobType }} {{ event.job.device }}",
                               start: '{{ event.startDateTime|date:"Y-m-d H:i" }}',
                               end: "{{ event.endDateTime|date:"Y-m-d H:i" }}",
                               url: '{% url 'job-detail' event.job_id %}',
                               color: {% if event.job.jobType_id == 1 %} '#c0b8b8'
                                        {% elif event.job.jobType_id == 2 %} '#c0b8b8'
                                        {% elif event.job.jobType_id == 3 %} '#c0b8b8'
                                        {% elif event.job.jobType_id == 4 %} '#c0b8b8'
                                        {% endif %}
                           },
                       {% endfor %}


               ]
           });

       });

    </script>
    </div>
    <div id="openjobs" style="float: right" class="col">

        <h3>5 najstarszych zleceń</h3>
        <div class="row">
            <ol>
                {% for openJob in openJobs %}
                    <li><a href="{% url 'job-detail' openJob.pk %}">{{ openJob }}</a></li>
                {% endfor %}

            </ol>
        </div>
    </div>
</div>

{% endblock %}